.container {
    width: 100%;
    position: relative;
    padding: 0 $desktop-padding;
    @include vp-1439 {
        padding: 0 $tablet-padding;
    }
    @include vp-767 {
        padding: 0 $mobile-padding;
    }
}
