.footer {
  @include adaptive-value("padding-bottom", 40, 30, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("padding-bottom", 30, 28, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("padding-bottom", 28, 24, 0, 1279, 768);
  }

  @include vp-767 {
    @include adaptive-value("padding-bottom", 24, 20, 0, 767, 375);
  }
}

.footer__container {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;

  @include vp-1439 {
    @include adaptive-value("gap", 25, 10, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("gap", 20, 7, 0, 1279, 768);
  }

  @include vp-767 {
    @include adaptive-value("gap", 15, 10, 0, 767, 375);
  }
}

.footer__socials {
  flex-flow: wrap row;
  justify-content: flex-start;
  max-width: calc(300px / 16px * 1rem);
  grid-column: 1 / 2;
  gap: calc(5px / 16px * 1rem);

  @include adaptive-value("margin-top", 111, 85, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("margin-top", 91, 114, 0, 1439, 1280);
  }

  @include vp-1279 {
    max-width: calc(207px / 16px * 1rem);
    gap: calc(5px / 16px * 1rem);

    @include adaptive-value("margin-top", 114, 52, 0, 1279, 768);
  }

  @include vp-767 {
    @include adaptive-value("margin-top", 32, 40, 0, 767, 375);
  }
}

.footer__top {
  display: grid;
  align-items: start;
  justify-content: space-between;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  grid-template-columns: minmax(0, 0.55fr) minmax(0, calc(409px / 16px * 1rem)) minmax(0, calc(188px / 16px * 1rem));
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #e4e4e4;
    width: 100%;
    height: calc(1px / 16px * 1rem);
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (max-width: $vp-1440) {
    grid-template-columns: minmax(0, 1fr) minmax(0, calc(462px / 16px * 1rem)) minmax(0, calc(188px / 16px * 1rem));
  }

  @include adaptive-value("padding-top", 51, 51, 0, 1920, 1440);

  @include vp-1439 {
    grid-template-columns: minmax(0, 1fr) minmax(0, calc(373px / 16px * 1rem)) minmax(0, calc(154px / 16px * 1rem));
    column-gap: calc(63px / 16px * 1rem);

    @include adaptive-value("padding-top", 50, 31, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("padding-top", 31, 30, 0, 1279, 768);
    grid-template-columns: minmax(0, calc(207px / 16px * 1rem)) minmax(0, calc(344px / 16px * 1rem));
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    @include adaptive-value("padding-top", 30, 5, 0, 767, 375);
  }
}

.footer__column-wrapper {
  grid-row: span 2;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  @include vp-1279 {
    grid-row: 1 / 4;
  }

  @include vp-767 {
    grid-row: unset;
  }
}

.footer__logo-wrapper {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  @include vp-1279 {
    grid-column: 1 / 2;
    margin: 0 0 calc(20px / 16px * 1rem);
  }

  @include vp-767 {
    display: none;
  }
}

.footer__logo {
  display: block;
  width: 100%;
  max-width: 100%;
  transition: opacity 0.3s $smooth;

  @include vp-1439 {
    @include adaptive-value("max-width", 188, 154, 0, 1439, 1280);
  }

  &:focus-visible {
    opacity: 0.7;
  }

  @include hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__logo-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.footer__button {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: calc(287px / 16px * 1rem);
  position: relative;

  @include adaptive-value("max-width", 287, 250, 0, 1920, 1440);

  @include vp-1439 {
    max-width: calc(230px / 16px * 1rem);
  }

  @include vp-1279 {
    grid-row: unset;
    max-width: unset;

    @include adaptive-value("top", 0, 20, 0, 1279, 768);
  }
}

.footer__description {
  grid-column: 2 / 3;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: -0.02em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  @include adaptive-value("font-size", 18, 16, 0, 1920, 1440);
  @include adaptive-value("line-height", 18 * 1.4, 16 * 1.4, 0, 1920, 1440);

  @include vp-1279 {
    @include adaptive-value("font-size", 16, 15, 0, 1279, 768);
    @include adaptive-value("line-height", 16 * 1.4, 15 * 1.4, 0, 1279, 768);
  }

  @include vp-767 {
    grid-column: unset;
    display: none;
  }
}

.footer__contacts {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  @include adaptive-value("margin-top", 40, 31, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("margin-top", 32, 28, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("margin-top", 28, 24, 0, 1279, 768);
  }

  @include vp-767 {
    @include adaptive-value("margin-top", 24, 60, 0, 767, 375);
    grid-column: unset;
  }
}

.footer__contacts-list {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  @include adaptive-value("gap", 5, 5, 0, 1920, 1440);

  @include vp-1279 {
    @include adaptive-value("top", 0, 1, 0, 1279, 768);
  }

  @include vp-767 {
    display: flex;
    gap: calc(15px / 16px * 1rem);
    flex-flow: wrap column;
  }
}

.footer__contacts-item {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(5px / 16px * 1rem);

  &:last-child {
    letter-spacing: -0.01em;

    @include adaptive-value("margin-top", 26, 20, 0, 1920, 1440);

    @include vp-1279 {
      @include adaptive-value("margin-top", 24, 15, 0, 1279, 768);
    }

    @include vp-767 {
      @include adaptive-value("margin-top", 20, 9, 0, 767, 375);
    }
  }
}

.footer__contacts-link {
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: underline;
  text-underline-offset: calc(5px / 16px * 1rem);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  transition: color 0.3s $smooth;

  &:focus-visible {
    color: $gray;
  }

  @include hover {
    color: $gray;
  }

  &:active {
    color: $gray;
    opacity: 0.7;
  }

  @include adaptive-value("font-size", 24, 22, 0, 1920, 1440);
  @include adaptive-value("line-height", 24 * 1.2, 22 * 1.2, 0, 1920, 1440);

  @media (max-width: $vp-1440) {
    letter-spacing: 0;
  }

  @include vp-1439 {
    @include adaptive-value("font-size", 22, 18, 0, 1439, 1280);
    @include adaptive-value("line-height", 22 * 1.2, 18 * 1.2, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("font-size", 18, 16, 0, 1279, 768);
    @include adaptive-value("line-height", 18 * 1.2, 16 * 1.2, 0, 1279, 768);
  }

  &--static {
    font-size: calc(24px / 16px * 1rem);
    line-height: calc(calc(24px / 16px * 1rem) * 1.2);
    letter-spacing: -0.01em;
  }
}

.footer__contacts-label {
  font-weight: 500;
  color: $gray;
  letter-spacing: -0.04em;
  font-family: "TT Runs", "Arial", sans-serif;

  @include adaptive-value("font-size", 14, 13, 0, 1920, 1440);
  @include adaptive-value("line-height", 14 * 1.1, 13 * 1.1, 0, 1920, 1440);

  @include vp-767 {
    display: none;
  }
}

.footer__contacts-icon {
  display: none;

  @include vp-767 {
    display: inline-flex;
    align-items: center;
  }
}

.footer__copyright {
  grid-column: 1 / 2;
  font-weight: 600;
  letter-spacing: -0.03em;
  font-family: "TT Runs", "Arial", sans-serif;

  @include adaptive-value("margin-top", 126, 104, 0, 1920, 1440);
  @include adaptive-value("font-size", 20, 18, 0, 1920, 1440);
  @include adaptive-value("line-height", 20 * 1.25, 18 * 1.25, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("margin-top", 111, 71, 0, 1439, 1280);
    @include adaptive-value("font-size", 18, 16, 0, 1439, 1280);
    @include adaptive-value("line-height", 18 * 1.25, 16 * 1.25, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("font-size", 16, 15, 0, 1279, 768);
    @include adaptive-value("line-height", 16 * 1.25, 15 * 1.25, 0, 1279, 768);
  }

  @include vp-767 {
    @include adaptive-value("font-size", 15, 13, 0, 767, 375);
    @include adaptive-value("line-height", 15 * 1.25, 13 * 1.25, 0, 767, 375);
    @include adaptive-value("margin-top", 71, 70, 0, 767, 375);
  }
}

.footer__about {
  grid-column: 2 / 3;
  align-self: end;
  position: relative;

  @include adaptive-value("top", 0, 1, 0, 1920, 1440);
  @include adaptive-value("left", 0, 1, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("top", 0, 2, 0, 1439, 1280);
  }

  @include vp-767 {
    grid-column: unset;
  }
}

.footer__bottom {
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(5px / 16px * 1rem);

  @include adaptive-value("margin-top", 25, 21, 0, 1920, 1440);

  @include vp-1439 {
    @include adaptive-value("margin-top", 21, 10, 0, 1439, 1280);
  }
}

.footer__policy {
  position: relative;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: $gray;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  transition: color 0.3s $smooth;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: calc(1px / 16px * 1rem);
    background-image:
      repeating-linear-gradient(
        to right,
        #000000 0,
        #000000 calc(4px / 16px * 1rem),
        transparent calc(4px / 16px * 1rem),
        transparent calc(8px / 16px * 1rem)
      );
    transition: width 0.5s $smooth;
  }

  @include hover {
    color: $gray;

    &::before {
      width: 100%;
    }
  }

  &:focus-visible {
    color: $gray;

    &::before {
      width: 100%;
    }
  }

  &:active {
    color: $gray;
    opacity: 0.7;

    &::before {
      width: 100%;
    }
  }

  @include adaptive-value("font-size", 18, 16, 0, 1920, 1440);
  @include adaptive-value("line-height", 18 * 1.4, 16 * 1.4, 0, 1920, 1440);

  @include vp-1279 {
    @include adaptive-value("font-size", 16, 15, 0, 1279, 768);
    @include adaptive-value("line-height", 16 * 1.4, 15 * 1.4, 0, 1279, 768);
  }

  @include vp-767 {
    top: calc(-11px / 16px * 1rem);
  }
}

.footer__title {
  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
  display: flex;
  align-items: center;
  flex-flow: wrap row;

  overflow: hidden;
  max-width: 100%;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  font-family: "TT Runs", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;

  @include adaptive-value("font-size", 116, 87, 0, 1920, 1440);
  @include adaptive-value("line-height", 116 * 1.2, 87 * 1.2, 0, 1920, 1440);
  @include adaptive-value("gap", 30, 21, 0, 1920, 1440);

  span:last-child {
    position: relative;

    @include adaptive-value("left", 0, 4, 0, 1920, 1440);

    @include vp-1439 {
      @include adaptive-value("left", 4, 3, 0, 1439, 1280);
    }

    @include vp-767 {
      position: relative;
      left: 0;
    }
  }

  @include vp-1439 {
    @include adaptive-value("font-size", 87, 78, 0, 1439, 1280);
    @include adaptive-value("line-height", 87 * 1.2, 78 * 1.2, 0, 1439, 1280);
    @include adaptive-value("gap", 21, 19, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("font-size", 78, 46, 0, 1279, 768);
    @include adaptive-value("line-height", 78 * 1.2, 46 * 1.2, 0, 1279, 768);
    @include adaptive-value("gap", 4, 11, 0, 1279, 768);
  }

  @include vp-767 {
    position: relative;
    top: calc(-18px / 16px * 1rem);
    left: calc(-2px / 16px * 1rem);

    @include adaptive-value("font-size", 46, 50, 0, 767, 375);
    @include adaptive-value("line-height", 46 * 1.2, 50 * 1.2, 0, 767, 375);
    @include adaptive-value("gap", 3, 0, 0, 767, 375);
  }
}
