.header-menu {
    width: 100%;
    display: none;
    @include vp-1439 {
        padding: 0 $tablet-padding;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $mainBackground;
        height: 0;
        overflow: hidden;
        transition: height 0.6s $smooth;
    }

    @include vp-767 {
        padding: 0 $mobile-padding;
    }

    &.is-open {
        @include vp-1439 {
            height: 100vh;
        }

        &.is-scrollable {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .header-menu__header-menu-nav {
            @include vp-1439 {
                opacity: 1;
            }
        }
    }

    &__menu-list {
        @include vp-1439 {
            margin: size(50px) 0 0;
            display: flex;
            flex-flow: wrap column;
            gap: size(15px);
        }
    }

    &__menu-link {
        font-family: 'TT Runs', sans-serif;
        letter-spacing: -0.03em;
        font-weight: 600;
        opacity: 0;
        transition: opacity 0.3s $smooth;
        @include adaptive-value('font-size', 34, 28);

        @include hover {
            opacity: 0.7;
        }

        &:focus-visible {
            opacity: 0.7;
        }
    }
}
