.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: $mainBackground;
    z-index: 100;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        background-color: #e4e4e4;
        width: var(--before-width, 0%);
        height: size(1px);
        transform: translateX(-50%);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap row;
        align-items: center;
        padding: size(10px) $desktop-padding;
        min-height: size(60px);

        @include vp-1439 {
            padding: size(10px) $tablet-padding;
            min-height: size(52px);
        }
        @include vp-767 {
            padding: size(10px) $mobile-padding;
        }
    }

    &__logo {
        img {
            width: size(73px);
            height: size(24px);
        }
    }

    &__header-right {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        gap: size(32px);
        max-width: 60%;
    }

    &__nav {
        max-width: 90%;
    }

    &__menu {
        display: flex;
        gap: size(32px);
        @include vp-1279 {
            display: none;
        }
    }

    &__menu-link {
        font-family: 'TT Runs', sans-serif;
        font-weight: 500;
        letter-spacing: -0.03em;
        @include adaptive-value('font-size', 16, 14, 0, $maxWidth, 1440);
        @include adaptive-value('line-height', 16, 14, 0, $maxWidth, 1440);
    }

    &__star {
        display: flex;
        max-width: 5%;
        align-items: center;
        gap: size(10px);
    }

    &__star-text {
        font-weight: 500;
        @include adaptive-value('font-size', 14, 10);
        @include adaptive-value('line-height', 14, 14);
        @include vp-1279 {
            display: none;
        }
    }

    &__toggle {
        @include vp-1279 {
            width: size(32px);
            height: size(32px);
            position: relative;

            &::before,
            &::after {
                position: absolute;
                content: '';
                display: block;
                width: size(30px);
                height: size(3px);
                background-color: $mainColor;
                left: size(1px);
                transform-origin: center;
                transition:
                    transform 0.4s $smooth,
                    scale 0.4s $smooth,
                    top 0.4s $smooth;
            }

            &::before {
                top: 40%;
            }

            &::after {
                top: 70%;
            }

            &.is-active {
                &::before {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg) scale(0.7);
                }

                &::after {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg) scale(0.7);
                }
            }
        }
    }

    &__star-img {
        width: size(36px);
        height: size(36px);
        @include vp-1279 {
            opacity: 0;
        }
    }
}
