.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap row;
        align-items: center;
        padding: 0 $mobile-padding;

        @include vp-1439 {
            padding: 0 $tablet-padding;
        }
        @include vp-767 {
            padding: 0 $mobile-padding;
        }
    }

    &__logo {
        img {
            width: size(73px);
            height: size(24px);
        }
    }

    &__header-right {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
    }

    &__menu {
        display: none;

        @media #{$desktop-only} {
            display: flex;
            gap: size(32px);
        }
    }

    &__menu-link {
        font-family: 'TT Runs', sans-serif;
        @include set-text(size(14px), size(64px), 500);
        letter-spacing: -0.03em;
    }

    &__header-menu {
        display: none;
        @include vp-1439 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: absolute;
            top: rem(50);
        }
    }
}
