.hero {
    // background-color: #f5f5f5;
    background-color: white;
    min-height: 100vh;
    padding: size(120px) 0 size(200px);
    padding-top: size(180px);
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: size(24px);
    }

    &__title {
        font-weight: 600;
        line-height: 1.2;
        color: $mainColor;
        @include adaptive-value('font-size', 64, 32);
    }

    &__description {
        line-height: 1.5;
        color: rgba($mainColor, 0.7);
        max-width: size(600px);
        @include adaptive-value('font-size', 20, 16);
    }
}
