.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: calc(15px / 16px * 1rem);
  font-family: "TT Runs", "Arial", sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
  transition: background-color 0.3s $smooth, opacity 0.3s $smooth;

  @include adaptive-value("font-size", 16, 14, 0, 1920, 1440);
  @include adaptive-value("line-height", 16 * 1.2, 14 * 1.2, 0, 1920, 1440);
  @include adaptive-value("min-height", 52, 48, 0, 1920, 1440);
  @include adaptive-value("width", 52, 48, 0, 1920, 1440);

  @include hover {
    background-color: $highlight;
  }

  &:focus-visible {
    background-color: $highlight;
  }

  &:active {
    background-color: $highlight;
    opacity: 0.5;
  }

  @include vp-1439 {
    font-size: calc(14px / 16px * 1rem);
    line-height: calc(calc(14px / 16px * 1rem) * 1.2);

    @include adaptive-value("width", 52, 48, 0, 1439, 1280);
    @include adaptive-value("border-radius", 15, 10, 0, 1439, 1280);
  }

  @include vp-1279 {
    @include adaptive-value("border-radius", 12, 12, 0, 1279, 768);
    @include adaptive-value("font-size", 13, 13, 0, 1279, 768);
    @include adaptive-value("line-height", 13 * 1.2, 13 * 1.2, 0, 1279, 768);
  }

  &--strict {
    padding: 0 calc(15px / 16px * 1rem);
    width: auto;
  }

  &--loose {
    width: auto;
    min-height: unset;
    padding: calc(16px / 16px * 1rem) calc(15px / 16px * 1rem);

    @include vp-1439 {
      padding: calc(14px / 16px * 1rem) calc(12px / 16px * 1rem);
    }

    @include vp-1279 {
      padding: calc(14.5px / 16px * 1rem) calc(14px / 16px * 1rem);
    }
  }
}
