.socials {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: size(10px);

    &__link {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        // justify-content: space-between;
        gap: size(10px);
        width: 100%;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s $smooth;

        @include hover {
            .socials__icon-wrapper {
                background-color: $highlight;
            }
        }

        &:focus-visible {
            .socials__icon-wrapper {
                background-color: $highlight;
            }
        }
    }

    &__icon-wrapper {
        flex-shrink: 0;
        margin: 0 0 0 auto;
    }
}
