@use 'sass:math';
@import 'base/mixins';
@import 'fonts/fonts';
@import 'base/custom-properties';
@import 'variables';

// $fontFamily: 'TT Commons Pro', sans-serif;
// $fontSize: rem(16);
// $mainColor: #000;
// $minWidth: 375;
// $maxWidth: 1920;
// $maxWidthContainer: 1280;
// $containerPadding: 40;
// $containerWidth: $maxWidthContainer + $containerPadding;
// $pc: em($containerWidth);
// $tablet: em(991.98);
// $mobile: em(767.98);
// $mobileSmall: em(479.98);

@import 'base/null';

body {
    .lock & {
        overflow: hidden;
        overscroll-behavior: none;
        touch-action: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

    @supports (overflow: clip) {
        overflow: clip;
    }

    > main {
        flex: 1 1 auto;
    }

    > * {
        min-width: 0;
    }
}
@import 'common';
@import 'header';
@import 'footer';
@import 'home';
// @import 'cards';
// @import 'fonts-sample';
