$tablet-min-width: 768px;
$tablet-max-width: 1439px;
$desktop-min-width: 1440px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$mobile-only: '(width <= #{$mobile-max-width})';
$tablet-only: '(#{$tablet-min-width} <= width <= #{$tablet-max-width})';
$desktop-only: '(width >= #{$desktop-min-width})';
$not-mobile: '(width >= #{$tablet-min-width})';
$not-desktop: '(width <= #{$desktop-min-width})';
$fontFamily: 'TT Commons Pro', sans-serif;
$fz-default: 16px;
$mainColor: #0e0e0e;
$mainBackground: #f1f1f1;
$white: #ffffff;
$gray: rgba(14, 14, 14, 0.6);
$black: #000000;
$green: #04251a;
$highlight: #00ffa9;
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
$z-header: 100;
$mobile-padding: size(15px);
$tablet-padding: size(20px);
$desktop-padding: size(30px);
$smooth: cubic-bezier(0.4, 0, 0.2, 1);

$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1380;
$containerPadding: 40;
$containerWidth: $maxWidthContainer + $containerPadding;
