<section class="cards">
    <div class="cards__container">
        <h2 class="cards__title">Наши карточки</h2>
        <div class="cards__grid">
            {{#each cards}}
            <article class="cards__item card">
                {{#if this.image}}
                <div class="card__image">
                    <img src="{{this.image}}" alt="{{this.title}}" class="card__img" />
                </div>
                {{/if}}
                <div class="card__content">
                    <h3 class="card__title">{{this.title}}</h3>
                    {{#if this.description}}
                    <p class="card__description">{{this.description}}</p>
                    {{/if}} {{#if this.tags}}
                    <div class="card__tags">
                        {{#each this.tags}}
                        <span class="card__tag">{{this}}</span>
                        {{/each}}
                    </div>
                    {{/if}} {{#if this.link}}
                    <a href="{{this.link}}" class="card__link">Подробнее</a>
                    {{/if}} {{#if this.price}}
                    <div class="card__price">{{this.price}} ₽</div>
                    {{/if}}
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</section>
