<section class="fonts-sample" aria-labelledby="fonts-sample-title">
    <div class="fonts-sample__container">
        <header class="fonts-sample__header">
            <p class="fonts-sample__eyebrow">Typography</p>
            <h2 class="fonts-sample__title" id="fonts-sample-title">Подключенные шрифты из <code>assets</code></h2>
            <p class="fonts-sample__description">
                Примеры отображения каждой гарнитуры. Текст можно использовать как контрольный для проверки подключения
                файлов.
            </p>
        </header>

        <ul class="fonts-sample__list" role="list">
            {{#each fonts}}
            <li class="fonts-sample__item" role="article" tabindex="0" aria-label="{{this.familyName}} {{this.label}}">
                <div class="fonts-sample__item-head">
                    <span class="fonts-sample__family">{{this.familyName}}</span>
                    <span class="fonts-sample__meta">{{this.label}}</span>
                </div>
                <p
                    class="fonts-sample__text fonts-sample__text--{{this.familyKey}} fonts-sample__text--{{this.weightModifier}}{{#if this.italic}} fonts-sample__text--italic{{/if}}"
                    tabindex="0"
                >
                    {{this.sample}}
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
