{{#with header}}
<header class="header" aria-label="{{ariaLabel}}">
    <div class="header__container">
        <a class="header__logo" href="{{logo.href}}" aria-label="{{logo.ariaLabel}}">
            {{svg src="/images/logo-mobile.svg" alt="Logo" class="header__logo-img" width="52" height="17" }}
        </a>

        <div class="header__header-right">
            <nav class="header__nav" aria-label="{{nav.ariaLabel}}">
                <ul class="header__menu" data-animate-children="-30px,1.2" role="list">
                    {{#each nav.items}}
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="{{href}}" aria-label="{{ariaLabel}}" tabindex="0">
                            {{label}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </nav>

            <div class="header__star">
                <span class="header__star-text">40</span>
                <button
                    class="header__toggle"
                    data-burger-toggle
                    type="button"
                    aria-label="{{actions.toggle.ariaLabel}}"
                    tabindex="0"
                >
                    <span class="header__toggle-dot" aria-hidden="true">
                        {{!-- {{svg src="/images/star.svg" alt="Logo" class="header__star-img" width="36" height="36" }}
                        --}} {{sprite name="star" class="header__star-img" width="36" height="36"}}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__header-menu header-menu">
        <nav class="header-menu__header-menu-nav" aria-label="{{nav.ariaLabel}}">
            <ul class="header-menu__menu-list" role="list">
                {{#each nav.items}}
                <li class="header-menu__menu-item">
                    <a class="header-menu__menu-link" href="{{href}}" aria-label="{{ariaLabel}}" tabindex="0">
                        {{label}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</header>
{{/with}}
