* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: $mobile-min-width;
    height: 100%;
    background-color: $mainBackground;
    font-size: size-desktop($fz-default);
    @include vp-1919 {
        font-size: $fz-default;
    }
}

body {
    font-family: $fontFamily;
    line-height: 1;
    color: $mainColor;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: $fontFamily;
    font-size: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
